# Build results
[Bb]in/
[Oo]bj/
[Oo]ut/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# Rider
.idea/

# VS Code
.vscode/

# Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Ll]og/

# Test Results
[Tt]est[Rr]esult*/
*.trx
coverage*/
*.coveragexml
*.coverage

# OS
.DS_Store
Thumbs.db

# Temp
*.tmp
*.temp
*~

# Publish
publish/
